{% for certificate in haproxy_crt_list %}
{% if certificate.path is defined and haproxy_existing_cert is defined and certificate.path in haproxy_existing_cert -%}
  {{ certificate.path }} {% if certificate.snifilter is defined %}{{ certificate.snifilter }}{% endif %}

{% endif %}
{% endfor %}
{% if haproxy_crt_list_default_wildcard -%}
  /etc/haproxy/ssl/selfsigned.pem *
{% endif %}
