/var/log/haproxy/haproxy.log {
    {{ haproxy_logrotate_period }}
    rotate {{ haproxy_logrotate_amount }}
    maxsize {{ haproxy_logrotate_maxsize }}
    missingok
    notifempty
    compress
    delaycompress
    postrotate
        /usr/lib/rsyslog/rsyslog-rotate
    endscript
}
